{% extends 'master.html'%}
{% load staticfiles%}
{% load l10n %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block body%}
<style>

</style>
  <div class="container-fluid">
    <form method="POST" id="myform" enctype="multipart/form-data">
      {% csrf_token %}
    <div class="row">
      <div class="col-md-8">
        <h4 class="c-grey-900">{{page_title|title}}</h4>
      </div>
      <div class="col-md-15">
        <div class="gap-10 peers {% if LANGUAGE_BIDI %} push-left {% else %} push-right {% endif %}">
          <div class="peer"><button type="submit" onclick="change_x()" id="button" class="btn cur-p btn-primary"  name ='Save and exit'>{% trans "Save and Exit" %}</button></div>
          <div class="peer"><a href="{% url 'performance:performance-list' %}"  onclick="change_x()" class="btn cur-p btn-secondary">{% trans "Back to List" %}</a></div>
        </div>
      </div>
    </div>

    <div class="mt-1">
      <div class="bgc-white p-20 bd">
        <h6 class="c-grey-900">{% trans "Performance " %}</h6>
        <div class="mT-30">
            {{ performance_rating_formset.management_form }}
          <div id="form_set">
            <div class="form-row">
              <div class="form-group col-md-3">
                <label>{% trans "Rating Type" %}</label>
              </div>
              <div class="form-group col-md-3">
                <label>{% trans "Score " %}</label>
              </div>
              <div class="form-group col-md-3">
                <label>{% trans "Value" %}</label>
              </div>
            </div> 
            {% for form in performance_rating_formset.forms %}
            {{form.non_field_errors}}
            {{form.errors}}
          <div class="form-row">

            <div class="form-group col-md-3">
              {{ form.rating}}
            </div>
            <div class="form-group col-md-3">
              {{ form.score_key}}
            </div>
            <div class="form-group col-md-3">
              {{ form.score_value}}
            </div>
            </div>
            {% endfor %}
            </div>
            <button type="button" id="add_more" class="btn cur-p btn-success">{% trans "Add New Line"%}</button>
          <div id="empty_form" style="display:none">
            <table class='no_error'>
              <div class="form-row">
                <div class="form-group col-md-3">
                  {{ performance_rating_formset.empty_form.rating }}
                </div>
                <div class="form-group col-md-3">
                  {{ performance_rating_formset.empty_form.score_key }}
                </div>
                <div class="form-group col-md-3">
                  {{ performance_rating_formset.empty_form.score_value }}
                </div>
              </div>
            </table>
          </div>

          <br>
          <div class="form-row" style="text-align: right;">
            <div class="form-group col-md-12">
              <div class="peer"><button type="submit" onclick="change_x()" id="button" class="btn cur-p btn-primary" name ='Save and add' >{% trans "Next" %}</button></div>
          </div>
          </div>

  </form>
</div>


{% endblock body%}
{% block js %}
<script>
  $('#add_more').click(function() {
    var form_idx = $('#id_form-TOTAL_FORMS').val();
    $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
    $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
  });
</script>
{% endblock js %}
