{% extends 'master.html'%}
{% load staticfiles%}
{% load l10n %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block body%} 
<style>
.card{
    padding: 0%;
}
</style>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <h4 class="c-grey-900">{{page_title}}</h4>
      </div>
      <div class="col-md-4">
        <div class="gap-10 peers {% if LANGUAGE_BIDI %} push-left {% else %} push-right {% endif %}">
          <div class="peer"><a href=""  onclick="change_x()" class="btn cur-p btn-secondary">{% trans "Back to List" %}</a></div>
        </div>
      </div>
    </div>
    <br>
    {% if employee_perfomances.count != 0  %}
    {% for performance in employee_perfomances %}
    <div class="row">
    <div class="col-md-12">
    <div class="card col-md-12">
        <div class="card-header col-md-12">
            {{performance.performance.performance_name}}
        </div>
        <div class="card-body">
            <h4 style="color: grey;">{% trans "Over View" %}</h4>
            <table class="table table-striped table-bordered" cellspacing="0"  width="100%">
                <thead>
                  <tr>
                    {% if performance.overall_score  %}
                    <th class="card-title">{% trans "Overall Rate" %}</th>
                    {% endif %}
                    {% if performance.core_score %}
                    <th class="card-title">{% trans "Core Rate" %}</th>
                    {% endif %}
                    {% if performance.overall_score %}
                    <th class="card-title">{% trans "JobRoll Rate" %}</th>
                    {% endif %}
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    {% if performance.overall_score  %}
                    <td>{{ performance.overall_score.score_key }} - {{ performance.job_score.score_value }}</td>
                    {% endif %}

                    {% if performance.overall_score  %}
                    <td>{{ performance.core_score.score_key }} - {{ performance.job_score.score_value }}</td>
                    {% endif %}

                    {% if performance.job_score  %}
                    <td>{{ performance.job_score.score_key }} - {{ performance.job_score.score_value }} </td>
                    {% endif %}
                  </tr>
                </tbody>
              </table>
              <br>
              <h4 style="color: grey;">{% trans "Questions" %}</h4>
              <table class="table table-striped table-bordered" cellspacing="0"  width="100%">
                <thead>
                  <tr>
                    <th class="card-title">{% trans "Segment" %}</th>
                    <th class="card-title">{% trans "Question" %}</th>
                    <th class="card-title">{% trans "Type" %}</th>
                    <th class="card-title">{% trans "Rate or Comment" %}</th>
                  </tr>
                </thead>
                <tbody>
                    {% for question in employee_questions %}
                  <tr>
                    <td>{{ question.question.title.title }}</td>
                    <td>{{ question.question }}</td>
                    <td>{{ question.question.question_type }}</td>
                    {% if question.question.question_type == "text" %}
                    <td>{{ question.text }}</td>
                    {% elif  question.question.question_type == "slider" %}
                    <td>{{ question.score.score_key }} - {{ question.score.score_value }}</td>
                    {% endif %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>

          <a href="" 
          class="btn btn-primary">Edit Performance</a>
        </div>
      </div>
      </div>
      {% endfor %}
{% endif %}





</div> 


{% endblock body%}
