{% extends 'master.html'%}
{% load staticfiles%}
{% load l10n %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block body%}
<style>
.card{
    max-width: 18rem;
    margin:0 20px;
    padding: 0;
}
</style>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <h4 class="c-grey-900">{{page_title|title}}</h4>
      </div>
      <div class="col-md-15">
        <div class="gap-10 peers {% if LANGUAGE_BIDI %} push-left {% else %} push-right {% endif %}">
          <div class="peer"><a href="{% url 'performance:performance-list' %}"  onclick="change_x()" class="btn cur-p btn-secondary">{% trans "Back to List" %}</a></div>
        </div>
      </div>
    </div>
    <div class="mt-1">
      <div class="bgc-white p-20 bd">
        <h6 class="c-grey-900">{{ performance.performance_name}}</h6>
        <div class="mT-30">

          <div class="form-row">  
            <div class="form-group col-md-4">
              <label for="inputCity">{% trans "Company" %}</label>
              <br>
              <p  class="form-control" id="formGroupExampleInput">{{ performance.company }}</p>
            </div>

            <div class="form-group col-md-4">
                <label for="inputCity">{% trans "Start Date" %}</label>
                <br>
                <p  class="form-control" id="formGroupExampleInput">{{ performance.start_date }}</p>
            </div>

            <div class="form-group col-md-4">
                <label for="inputCity">{% trans "End Date" %}</label>
                <br>
                <p  class="form-control" id="formGroupExampleInput">{{ performance.end_date }}</p>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputCity">{% trans "Department" %}</label>
                <br>
                <p  class="form-control" id="formGroupExampleInput">{{ performance.department }}</p>
            </div>

            <div class="form-group col-md-4">
                <label for="inputCity">{% trans "Job" %}</label>
                <br>
                <p  class="form-control" id="formGroupExampleInput">{{ performance.job }}</p>
            </div>


            <div class="form-group col-md-4">
                <label for="inputCity">{% trans "Position" %}</label>
                <br>
                <p  class="form-control" id="formGroupExampleInput">{{ performance.position }}</p>
            </div>
        </div>

        {% if overall_segments.count != 0 %}
        <div class="form-row">
            <h3 style="color:#0f9aee;">Overall Segments</h3>
        </div>
        <div class="form-row">
            {% for segment in overall_segments%}
                <div class="form-group col-md-4">
                    <div class="card text-center">
                        <div class="card-header">
                          <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                              <a   href="#">Questions:{{ segment.questions.all.count }}</a>
                            </li>
                            <li class="nav-item">
                                {% if segment.rating == 'Over all' %}
                              <a class="nav-link"href="{% url 'performance:segment-edit' pk=segment.id  ret_id=1 %}">
                                  Edit</a>
                                {% elif segment.rating == 'Core'  %}
                              <a class="nav-link"href="{% url 'performance:segment-edit' pk=segment.id  ret_id=2 %}">
                                    Edit</a>
                                {% elif segment.rating == 'Job'  %}
                              <a class="nav-link"href="{% url 'performance:segment-edit' pk=segment.id  ret_id=3 %}">
                                    Edit</a>
                                {% endif %}    
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="modal" data-target="#delete-modal{{segment.pk}}">
                                    Delete</a>
                            </li>
                          </ul>
                        </div>
                        <div class="card-body">
                          <h5 class="card-title" style="text-align: left;">Questions</h5>
                            <table class="table table-striped table-bordered" cellspacing="0"  width="70%">
                              <thead>
                                <tr>
                                  <th>{% trans "Question" %}</th>
                                  <th>{% trans "Question Type" %}</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for question in  segment.questions.all %}</a>
                                <tr>
                                  <td>{{ question.question }}</td>
                                  <td>{{ question.question_type }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </div>
                      </div>
              </div>

               <!-- Delete Modal -->
            <div class="modal fade" id="delete-modal{{segment.pk}}" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-body">
                      <p>{% trans "Are you sure you want to delete " %} {{ segment.title }} ?</p>
                      <button class="btn btn-secondary" data-dismiss="modal">{% trans "No" %}</button>
                      {% if segment.rating == 'Over all' %}
                      <a href="{% url 'performance:segment-delete' pk=segment.id  ret_id=1 %}" class="btn btn-warning" type="button">{% trans "Delete" %}</a>
                      Delete</a>
                        {% elif segment.rating == 'Core'  %}
                        <a href="{% url 'performance:segment-delete' pk=segment.id  ret_id=2 %}" class="btn btn-warning" type="button">{% trans "Delete" %}</a>
                        Delete</a>
                        {% elif segment.rating == 'Job'  %}
                        <a href="{% url 'performance:segment-delete' pk=segment.id  ret_id=3 %}" class="btn btn-warning" type="button">{% trans "Delete" %}</a>
                        Delete</a>
                        {% endif %} 
                    </div>
                  </div>
                </div>
              </div>
{% endfor %}
</div>
{% endif %}

{% if core_segments.count != 0 %}
<div class="form-row">
    <h3 style="color:#0f9aee;" >Core Segments</h3>
</div>
<div class="form-row">
    {% for segment in core_segments%}
        <div class="form-group col-md-4">
            <div class="card text-center">
                <div class="card-header">
                  <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                      <a   href="#">Questions:{{ segment.questions.all.count }}</a>
                    </li>
                    <li class="nav-item">
                        {% if segment.rating == 'Over all' %}
                      <a class="nav-link"href="{% url 'performance:segment-edit' pk=segment.id  ret_id=1 %}">
                          Edit</a>
                        {% elif segment.rating == 'Core'  %}
                      <a class="nav-link"href="{% url 'performance:segment-edit' pk=segment.id  ret_id=2 %}">
                            Edit</a>
                        {% elif segment.rating == 'Job'  %}
                      <a class="nav-link"href="{% url 'performance:segment-edit' pk=segment.id  ret_id=3 %}">
                            Edit</a>
                        {% endif %}    
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="modal" data-target="#delete-modal{{segment.pk}}">
                            Delete</a>
                    </li>
                  </ul>
                </div>
                <div class="card-body">
                  <h5 class="card-title" style="text-align: left;">Questions</h5>
                  <table class="table table-striped table-bordered" cellspacing="0"  width="70%">
                    <thead>
                      <tr>
                        <th>{% trans "Question" %}</th>
                        <th>{% trans "Question Type" %}</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for question in  segment.questions.all %}</a>
                      <tr>
                        <td>{{ question.question }}</td>
                        <td>{{ question.question_type }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
            </div>
    </div>


       <!-- Delete Modal -->
    <div class="modal fade" id="delete-modal{{segment.pk}}" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <p>{% trans "Are you sure you want to delete " %} {{ segment.title }} ?</p>
              <button class="btn btn-secondary" data-dismiss="modal">{% trans "No" %}</button>
              {% if segment.rating == 'Over all' %}
              <a href="{% url 'performance:segment-delete' pk=segment.id  ret_id=1 %}" class="btn btn-warning" type="button">{% trans "Delete" %}</a>
              Delete</a>
                {% elif segment.rating == 'Core'  %}
                <a href="{% url 'performance:segment-delete' pk=segment.id  ret_id=2 %}" class="btn btn-warning" type="button">{% trans "Delete" %}</a>
                Delete</a>
                {% elif segment.rating == 'Job'  %}
                <a href="{% url 'performance:segment-delete' pk=segment.id  ret_id=3 %}" class="btn btn-warning" type="button">{% trans "Delete" %}</a>
                Delete</a>
                {% endif %} 
            </div>
          </div>
        </div>
      </div>
{% endfor %}
</div>
{% endif %}


{% if job_segments.count != 0 %}
<div class="form-row">
    <h3 style="color:#0f9aee;" >Core Job Segments</h3>
</div>
<div class="form-row">
    {% for segment in job_segments%}
        <div class="form-group col-md-4">
            <div class="card text-center">
                <div class="card-header">
                  <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                      <a   href="#">Questions:{{ segment.questions.all.count }}</a>
                    </li>
                    <li class="nav-item">
                        {% if segment.rating == 'Over all' %}
                      <a class="nav-link"href="{% url 'performance:segment-edit' pk=segment.id  ret_id=1 %}">
                          Edit</a>
                        {% elif segment.rating == 'Core'  %}
                      <a class="nav-link"href="{% url 'performance:segment-edit' pk=segment.id  ret_id=2 %}">
                            Edit</a>
                        {% elif segment.rating == 'Job'  %}
                      <a class="nav-link"href="{% url 'performance:segment-edit' pk=segment.id  ret_id=3 %}">
                            Edit</a>
                        {% endif %}    
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="modal" data-target="#delete-modal{{segment.pk}}">
                            Delete</a>
                    </li>
                  </ul>
                </div>
                <div class="card-body">
                  <h5 class="card-title" style="text-align: left;">Questions</h5>
                            <table class="table table-striped table-bordered" cellspacing="0"  width="70%">
                              <thead>
                                <tr>
                                  <th>{% trans "Question" %}</th>
                                  <th>{% trans "Question Type" %}</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for question in  segment.questions.all %}</a>
                                <tr>
                                  <td>{{ question.question }}</td>
                                  <td>{{ question.question_type }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </div>
                      </div>
              </div>


       <!-- Delete Modal -->
    <div class="modal fade" id="delete-modal{{segment.pk}}" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <p>{% trans "Are you sure you want to delete " %} {{ segment.title }} ?</p>
              <button class="btn btn-secondary" data-dismiss="modal">{% trans "No" %}</button>
              {% if segment.rating == 'Over all' %}
              <a href="{% url 'performance:segment-delete' pk=segment.id  ret_id=1 %}" class="btn btn-warning" type="button">{% trans "Delete" %}</a>
              Delete</a>
                {% elif segment.rating == 'Core'  %}
                <a href="{% url 'performance:segment-delete' pk=segment.id  ret_id=2 %}" class="btn btn-warning" type="button">{% trans "Delete" %}</a>
                Delete</a>
                {% elif segment.rating == 'Job'  %}
                <a href="{% url 'performance:segment-delete' pk=segment.id  ret_id=3 %}" class="btn btn-warning" type="button">{% trans "Delete" %}</a>
                Delete</a>
                {% endif %} 
            </div>
          </div>
        </div>
      </div>
{% endfor %}
</div>
{% endif %}

            </div>
        </div>
    </div>
</div>


{% endblock body%}

