{% extends 'master.html'%}
{% load staticfiles%}
{% load crispy_forms_tags %}
{% load l10n %}
{% load i18n %}
{% block body%}


  <div class="row" style="margin-left:0px;">
    <div class="col-md-8">
      <h4 class="c-grey-900">{{page_title|title}}</h4>
    </div>
  </div>

  <div class="row" style="margin-right:0px;" >
    <div class="col-md-12">
      <div class="gap-10 peers {% if LANGUAGE_BIDI %} push-left {% else %} push-right {% endif %}">
        <div class="peer"><a href="{% url 'performance:management' pk=pk%}" class="btn cur-p btn-primary">{% trans "Back to List" %}</a></div>
        <div class="peer"><a href="{% url 'performance:segment-create' per_id=pk  ret_id=ret_id %}" class="btn cur-p btn-primary">{% trans "Add Segment" %}</a></div>
      </div>
    </div>
  </div>
  <br>

  <div class="row" style="margin-left:0px;">
    <div class="col-md-12">
      <div class="bgc-white bd bdrs-3 p-20 mB-20">
        <table class="table table-striped table-bordered" cellspacing="0" id="dataTable" width="100%">
          <thead>
            <tr>
              <th>#</th>
              <th>{% trans "Title" %}</th>
              <th>{% trans "Description" %}</th>
              <th>{% trans "Questions" %}</th>
              <th>{% trans "Actions" %}</th>

            </tr>
          </thead>
          <tbody>
            {% for segment in segments %}
            <tr>
              <td scope="row">{{ forloop.counter }}</td>
              <td>{{ segment.title }}</td>
              <td>{{ segment.desc }}</td>
              <td>{{ segment.questions.all.count }}</td>

              <td class="Actions">
                <div class="w-100 gap-10 peers">
                  <div class="peer">
                    <a href="{% url 'performance:segment-edit' pk=segment.id  ret_id=ret_id %}">
                      <button type="button" class="btn cur-p btn-outline-success">
                        <i class="fas fa-user-edit"></i>
                      </button>
                    </a>
                  </div>
                  <div class="peer">
                    <a href="#">
                      <button type="button" class="btn cur-p btn-outline-danger" data-toggle="modal" data-target="#delete-modal{{segment.pk}}">
                        <i class="fa fa-trash"></i>
                      </button>
                    </a>
                  </div>
                </div>
              </td>
            </tr>
            <!-- Delete Modal -->
            <div class="modal fade" id="delete-modal{{segment.pk}}" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-body">
                    <p>{% trans "Are you sure you want to delete " %} {{ segment.title }} ?</p>
                    <button class="btn btn-secondary" data-dismiss="modal">{% trans "No" %}</button>
                    <a href="{% url 'performance:segment-delete' pk=segment.id  ret_id=ret_id %}" class="btn btn-warning" type="button">{% trans "Delete" %}</a>
                  </div>
                </div>
              </div>
            </div>

            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>


{% endblock body%}