{% extends 'master.html'%}
{% load staticfiles%}
{% load crispy_forms_tags %}
{% load l10n %}
{% load i18n %}

{% block body%}
<div class="container-fluid">
  <div class="row" style="margin-left:0px;">
    <div class="col-md-8">
      <h4 class="c-grey-900">{{page_title|title}}</h4>
    </div>
    <div class="col-md-4">
      <div class="gap-10 peers {% if LANGUAGE_BIDI %} push-left {% else %} push-right {% endif %}">
        <div class="peer">
          {% if basic_flag is False %}
          <button type="button" class="btn cur-p btn-primary" data-toggle="modal" data-target="#basic_element_modal">{% trans "Add" %}</button>
          {% else %}
          <a href="{% url 'element_definition:element-create' %}" class="btn cur-p btn-primary">{% trans "Add" %}</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-left:0px;">
    <div class="col-md-12">
      <div class="bgc-white bd bdrs-3 p-20 mB-20">
        <table class="table table-striped table-bordered" id="dataTable" width="100%">
          <thead>
            <tr>
              <th>#</th>
              <th>{% trans "Element Name" %}</th>
              <th>{% trans "Database Name" %}</th>
              <th>{% trans "Element Type" %}</th>
              <th>{% trans "Element Classification" %}</th>
              <th width="20%">{% trans "Actions" %}</th>
            </tr>
          </thead>
          <tbody>
            {% for x in element_master %}
            <tr>
              <td scope="row">{{ forloop.counter }}</td>
              <td>{{ x.element_name }}</td>
              <td>{{ x.db_name }}</td>
              <td>{{ x.element_type }}</td>
              <td>{{ x.classification }}</td>
              <td class="Actions">
                <div class="gap-10 peers">
                  <div class="peer">
                    <a href="{% url 'element_definition:update-element' pk=x.id %}">
                      <button type="button" class="btn cur-p btn-outline-primary">{% trans "Update" %}</button>
                    </a>
                  </div>
                  <div class="peer">
                    <a href="#">
                      <button type="button" class="btn cur-p btn-outline-danger" data-toggle="modal" data-target="#delete-modal{{x.pk}}">{% trans "Delete" %}</button>
                    </a>
                  </div>
                </div>
              </td>
            </tr>
            <!-- Delete Modal -->
            <div class="modal fade" id="delete-modal{{x.pk}}" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-body">
                    <p>{% trans "Are you sure you want to delete this record?" %}</p>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "No" %}</button>
                    <a href="{% url 'element_definition:delete-element' pk=x.id %}" class="btn btn-danger" type="button">{% trans "Delete" %}</a>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<!-- Egyptian Insurance Rule  -->
<div class="modal fade" id="basic_element_modal" tabindex="-1" role="dialog" style="display: none;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
      </div>
      <div class="modal-body">
        <p>{% trans "Do you want Basic Salary Element?" %}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "No" %}</button>
        <a href="{% url 'element_definition:command-run' %}" type="button" class="btn btn-primary">
          <span class="text">{% trans "Yes" %}</span>
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock body%}
