{% extends 'master.html'%}
{% load staticfiles%}
{% load crispy_forms_tags %}
{% load l10n %}
{% load i18n %}
{% block body%}
<div class="container-fluid">
  <form method="post">
    {% csrf_token %}
    <!--  -->
    <div class="row">
      <div class="col-md-8">
        <h4 class="c-grey-900">{{page_title|title}}</h4>
      </div>
      <div class="col-md-4">
        <div class="gap-10 peers push-right">
          <div class="peer">
            <button type="submit" class="btn cur-p btn-primary">{% trans "Save" %}</button>
          </div>
          <div class="peer">
            <a href="{% url 'company:list-company-information' %}" class="btn cur-p btn-secondary">{% trans "Back to List" %}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-1">
      <div class="bgc-white p-20 bd">
        <div class="mT-30">
          <div class="form-row">
            <div class="form-group col-md-12">
             
              {{ form.user|as_crispy_field }}
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              {{ form.group|as_crispy_field}}
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
</form>
</div>

{% endblock body%}