{% extends 'master.html'%}
{% load staticfiles%}
{% load i18n %}
{% load l10n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% block body %}
<div class="row gap-20 masonry pos-r">
   <div class="masonry-item w-100" style="position: absolute; left: 0%; top: 0px;">
      <div class="row gap-20">
         <div class="col-md-3">
            <div class="layers bd bgc-white p-20">
               <div class="layer w-100 mB-10">
                  <h6 class="lh-1">{% trans "Total Employees" %}</h6>
               </div>
               <div class="layer w-100">
                  <div class="peers ai-sb fxw-nw">
                     <div class="peer peer-greed">
                        <span id="sparklinedash">
                           <canvas style="display: inline-block; width: 45px; height: 20px; vertical-align: top;" width="45" height="20"></canvas>
                        </span>
                     </div>
                     <div class="peer"><span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500">40</span></div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-3">
            <div class="layers bd bgc-white p-20">
               <div class="layer w-100 mB-10">
                  <h6 class="lh-1">{% trans "Today's Present" %}</h6>
               </div>
               <div class="layer w-100">
                  <div class="peers ai-sb fxw-nw">
                     <div class="peer peer-greed">
                        <span id="sparklinedash2">
                           <canvas style="display: inline-block; width: 45px; height: 20px; vertical-align: top;" width="45" height="20"></canvas>
                        </span>
                     </div>
                     <div class="peer"><span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-red-50 c-red-500">38</span></div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-3">
            <div class="layers bd bgc-white p-20">
               <div class="layer w-100 mB-10">
                  <h6 class="lh-1">{% trans "Today's absent" %}</h6>
               </div>
               <div class="layer w-100">
                  <div class="peers ai-sb fxw-nw">
                     <div class="peer peer-greed">
                        <span id="sparklinedash3">
                           <canvas style="display: inline-block; width: 45px; height: 20px; vertical-align: top;" width="45" height="20"></canvas>
                        </span>
                     </div>
                     <div class="peer"><span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-purple-50 c-purple-500">1</span></div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-3">
            <div class="layers bd bgc-white p-20">
               <div class="layer w-100 mB-10">
                  <h6 class="lh-1">{% trans "Today Approved Leaves" %}</h6>
               </div>
               <div class="layer w-100">
                  <div class="peers ai-sb fxw-nw">
                     <div class="peer peer-greed">
                        <span id="sparklinedash4">
                           <canvas style="display: inline-block; width: 45px; height: 20px; vertical-align: top;" width="45" height="20"></canvas>
                        </span>
                     </div>
                     <div class="peer"><span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-blue-50 c-blue-500">1</span></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
<div class="masonry-item col-md-6" style="position: absolute; left: 49.9994%; top: 532px;">
   <div class="bgc-white p-20 bd">
      <h6 class="c-grey-900">{% trans "Salary Statistics Reports" %}</h6>
      <div class="mT-30">
         <div style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;" class="chartjs-size-monitor">
            <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
               <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
            </div>
            <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
               <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
            </div>
         </div>
         <canvas id="bar-chart" height="416" style="display: block; width: 568px; height: 416px;" width="568" class="chartjs-render-monitor"></canvas>
      </div>
   </div>
</div>

<div class="masonry-item col-md-6" style="position: absolute; left: 49.9994%; top: 532px;">
   <div class="bgc-white p-20 bd">
      <h6 class="c-grey-900">{% trans "Departments Head Count" %}</h6>
      <div class="mT-30">
      <canvas id="myChart" height="416" style="display: block; width: 568px; height: 416px;" width="568" class="chartjs-render-monitor"></canvas>
      </div>
   </div>
</div>

<div class="masonry-sizer col-md-6"></div>

 <div class="masonry-item col-md-12" style="position: absolute; left: 49.9994%; top: 532px;">
    <div class="row">
       <div class="col-md-12">
          <div class="bgc-white bd bdrs-3 p-20">
             <h6 class="lh-1">Todo List</h6>
             <table class="table table-hover">
                <thead>
                   <tr>
                      <th scope="col">Notification Title</th>
                      <th scope="col">Notification Body</th>
                      <th scope="col">Type</th>
                      <th scope="col">Date & Time</th>
                      <th scope="col">Status</th>
                       <th scope="col">Action</th>
                   </tr>
                </thead>
                <tbody>
                {% for notice in my_notifications %}
                   <tr>
                      <th scope="row">{{ notice.data.data.title }}</th>
                      <td>{{ notice.actor}} {{notice.verb}} {{notice.action_object }}</td>
                      <td>{{ notice.level }}</td>
                      <td><span class="badge bgc-red-50 c-red-700 p-10 lh-0 tt-c badge-pill">{{ notice.timestamp }}</span></td>
                      <td><span class="badge bgc-green-50 c-green-700 p-10 lh-0 tt-c badge-pill">{{ notice.data.data.status }}</span></td>
                      <td></td>
                   </tr>
                   {% endfor %}
                </tbody>
             </table>
          </div>
       </div>
    </div>
 </div>
   

</div>

{% endblock body %}

{% block js %}
<script>
  var ctx = document.getElementById("myChart");
  var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
      labels: ['OK', 'WARNING', 'CRITICAL', 'UNKNOWN'],
      datasets: [{
        label: '# of Tomatoes',
        data: [12, 19, 3, 5],
        backgroundColor: [
          '#ff6384',
          '#36a2eb',
          '#ff9f40',
          '#ffcd56'
        ],
        borderWidth: 1
      }]
    },
    options: {
     	//cutoutPercentage: 40,
      responsive: false,

    }
  });
</script>
{% endblock js %}
