{% extends 'master.html'%}
{% load staticfiles%}
{% load crispy_forms_tags %}
{% load l10n %}
{% load i18n %}

{% block body%}

<div class="container-fluid">
  <div class="row" style="margin-left:0px;">
    <div class="col-md-8">
      <h4 class="c-grey-900">{{page_title|title}}</h4>
    </div>
    <div class="col-md-4">
      <div class="gap-10 peers {% if LANGUAGE_BIDI %} push-left {% else %} push-right {% endif %}">
        <div class="peer"><a href="{% url 'company:hirarchy' %}" class="btn cur-p btn-primary">{% trans "View Hierachy" %}</a></div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-left:0px;">
    <div class="col-md-12">
      <div class="bgc-white bd bdrs-3 p-20 mB-20">
        <table class="table table-striped table-bordered" id="dataTable"  width="100%">
          <thead>
            <tr>
              <th>#</th>
              <th>{% trans "Position Name" %}</th>
              <th>{% trans "Number of Assignments" %}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">{% trans "1" %}</th>
              <td><a href="{% url 'company:list-department' %}">{% trans "Departments" %}</a></td>
              <td>{{num_of_dept}}</td>
            </tr>
            <tr>
              <th scope="row">{% trans "2" %}</th>
              <td><a href="{% url 'company:list-jobs' %}">{% trans "Jobs" %}</a></td>
              <td>{{num_of_jobs}}</td>
            </tr>
            <tr>
              <th scope="row">{% trans "3" %}</th>
              <td><a href="{% url 'company:list-grades' %}">{% trans "Grades" %}</a></td>
              <td>{{num_of_grades}}</td>
            </tr>
            <tr>
              <th scope="row">{% trans "4" %}</th>
              <td><a href="{% url 'company:list-positions' %}">{% trans "Positions" %}</a></td>
              <td>{{num_of_positions}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock body%}
