{% extends 'master.html'%}
{% load staticfiles%}
{% load crispy_forms_tags %}
{% load l10n %}
{% load i18n %}
{% block body%}

<div class="container-fluid">
  <form method="post">
    {% csrf_token %}
    <!--  -->
    <div class="row">
      <div class="col-md-8">
        <h4 class="c-grey-900">{{page_title|title}}</h4>
      </div>
      <div class="col-md-4">
        <div class="gap-10 peers push-right">
          <div class="peer">
            <button type="submit" class="btn cur-p btn-primary">Save</button>
          </div>
          <div class="peer">
            <a href="{% url 'company:list-positions' %}" class="btn cur-p btn-secondary">{% trans "Back to List" %}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-1">
      <div class="bgc-white p-20 bd">
        <div class="mT-30">
          {{ position_formset.management_form }}
          <div id="form_set">
            <div class="form-row">
              <div class="form-group col-md-1.5">
                <label>{% trans "department Name" %}</label>
              </div>
              <div class="form-group col-md-1.5">
                <label>{% trans "Job Name" %}</label>
              </div>
              <div class="form-group col-md-1.5">
                <label>{% trans "Grade Name" %}</label>
              </div>
              <div class="form-group col-md-2">
                <label>{% trans "Position Name" %}</label>
              </div>
              <div class="form-group col-md-2">
                <label>{% trans "Position Description" %}</label>
              </div>
              <div class="form-group col-md-1.5">
                <label>{% trans "Position Start Date" %}</label>
              </div>
              <div class="form-group col-md-1.5">
                <label>{% trans "Position End Date" %}</label>
              </div>
            </div>
            {% for form in position_formset.forms %}
            {{form.non_field_errors}}
            {{form.errors}}
            <div class="form-row">
              <div class="form-group col-md-1.5">
                {{ form.department }}
              </div>
              <div class="form-group col-md-1.5">
                {{ form.job }}
              </div>
              <div class="form-group col-md-1.5">
                {{ form.grade }}
              </div>
              <div class="form-group col-md-2">
                {{ form.position_name }}
              </div>
              <div class="form-group col-md-2">
                {{ form.position_description }}
              </div>
              <div class="form-group col-md-1.5">
                {{ form.start_date }}
              </div>
              <div class="form-group col-md-1.5">
                {{ form.end_date }}
              </div>
            </div>
            {% endfor %}
          </div>
          <button type="button" id="add_more" class="btn cur-p btn-success">{% trans "Add New Line"%}</button>
          <div id="empty_form" style="display:none">
            <table class='no_error'>
              <div class="form-row">
                <div class="form-group col-md-1.5">
                  {{ position_formset.empty_form.department }}
                </div>
                <div class="form-group col-md-1.5">
                  {{ position_formset.empty_form.job }}
                </div>
                <div class="form-group col-md-1.5">
                  {{ position_formset.empty_form.grade }}
                </div>
                <div class="form-group col-md-2">
                  {{ position_formset.empty_form.position_name }}
                </div>
                <div class="form-group col-md-2">
                  {{ position_formset.empty_form.position_description }}
                </div>
                <div class="form-group col-md-1.5">
                  {{ position_formset.empty_form.start_date }}
                </div>
                <div class="form-group col-md-1.5">
                  {{ position_formset.empty_form.end_date }}
                </div>
              </div>
            </table>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock body%}
{% block js %}
<script>
  $('#add_more').click(function() {
    var form_idx = $('#id_form-TOTAL_FORMS').val();
    $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
    $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
  });
</script>
{% endblock js %}
