{% extends 'master.html'%}
{% load staticfiles%}
{% load crispy_forms_tags %}
{% load l10n %}
{% load i18n %}
{% block body%}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <h4 class="c-grey-900">{{page_title|title}}</h4>
    </div>

  <form method="post" id="myform">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-12">

        <div class="mT-1 bgc-white p-20 bd">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label>Select one or more Modules to link with your company <span> <em>{{request.user.company}}</em></span></label>
              {{ company_form.modules}}
            </div>
          </div>
        </div>
        <div class="gap-10 peers push-left">
          <div class="peer">
            <button type="submit" onclick="change_x()" class="btn cur-p btn-primary">{% trans "Save" %}</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<script>
  $('#add_more').click(function() {
    var form_idx = $('#id_form-TOTAL_FORMS').val();
    $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
    $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
  });
</script>
<script>
  isDirty = true
  x = false
  console.log(isDirty)
  document.getElementById("myform").onchange = function() {myFunction()};

 function myFunction() {
   x= true
 }

  function change_x()
  {isDirty = false
 console.log(isDirty)}

  window.onbeforeunload = function () {
             if (isDirty && x ) {
                 return "There are unsaved data.";
                 console.log(isDirty)
             }
             return undefined;
         }
 </script>
{% endblock body%}
