{% extends 'master.html'%}
{% load staticfiles%}
{% load crispy_forms_tags %}
{% load l10n %}
{% load i18n %}
{% block body%}

<div class="container-fluid">
   <div class="row">
      <div class="col-md-8">
        <h4 class="c-grey-900">{{page_title|title}}</h4>
      </div>

    </div>

  <form method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-12">

            <div class="mT-1 bgc-white p-20 bd">
                <div class="form-row">
                  <div class="form-group col-md-12">
                      <label>Select one or more Modules to link with your company <span> <em>{{request.user.company}}</em></span></label>
                       {{ company_form.modules}}
                  </div>
                </div>
      </div>
                <div class="gap-10 peers push-left">
          <div class="peer">
            <button type="submit" class="btn cur-p btn-primary">{% trans "Save" %}</button>
          </div>
        </div>
    </div>
    </div>
  </form>
</div>
<script>
  window.addEventListener("beforeunload", function (e) {
    var confirmationMessage = 'It looks like you have been editing something. '
                            + 'If you leave before saving, your changes will be lost.';

    (e || window.event).returnValue = confirmationMessage; //Gecko + IE
    return confirmationMessage; //Gecko + Webkit, Safari, Chrome etc.
});
</script>
{% endblock body%}