<!DOCTYPE html>
{% load staticfiles %}
{% load i18n %}
{% load l10n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

<html {% if LANGUAGE_BIDI %} dir="rtl" {% else %} dir="ltr" {% endif %}>
<meta content="text/html;charset=UTF-8" />

<head>
  <title>PeopleM8 {% trans "Login" %}</title>

  {% if LANGUAGE_BIDI %}
  <link href="{% static 'css/style-main-ar.css'%}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">
  {% else %}
  <link href="{% static 'css/style-main-en.css'%}" rel="stylesheet">
  {% endif %}
  <link href="{% static 'css/style.css'%}" rel="stylesheet">
  <!-- datatable -->


</head>

<body class="app " style="background-image:url({% static 'assets/static/images/bgEnterprise.png'%});background-position: center;background-size: contain;background-repeat: no-repeat;">
  <div id="loader">
    <div class="spinner"></div>
  </div>
  <script type="text/javascript">
    window.addEventListener('load', () => {
      const loader = document.getElementById('loader');
      setTimeout(() => {
        loader.classList.add('fadeOut');
      }, 300);
    });
  </script>
  <div class="peers ai-s fxw-nw ">
    <div class="d-n@sm- peer peer-greed h-100 pos-r bgr-n bgpX-c bgpY-c bgsz-cv">
      <div class="col-12 col-md-12 pY-40 scrollable pos-r">


        <form method="post">
          {% csrf_token %}
          {% include 'messages.html' %}
          <div class="row">
            <div class="col-md-12 text-center">
              <img src="/static/assets/static/images/ld.png" alt="" class="logoEnt ">
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-11 ">
              <div class="gap-10 peers push-right">
                <div class="peer">
                  <a href="{% url 'company:user-companies-list' %}" class="btn cur-p btn-secondary">{% trans "Back to List" %}</a>
                </div>
                <div class="peer">
                  <button type="submit" class="btn cur-p btn-primary" name='Save and exit'>{% trans "Save & exit" %}</button>
                  <button type="submit" class="btn cur-p btn-primary" name='Save and add'>{% trans "Save & add another" %}</button>
                </div>
              </div>
            </div>
          </div>

          <div class="mt-1">

            <div class=" p-20 bd PanelEnt">

              <h4 class="c-grey-900">{{page_title|title}}</h4>

              <div class="mT-30">
                <div class="form-row">
                  <div class="form-group col-md-3">
                    <label>{{ bgForm.name.label }}</label>
                    {{ bgForm.name }}
                  </div>
                  <div class="form-group col-md-3">
                    <label>{{ bgForm.reg_tax_num.label }}</label>
                    {{ bgForm.reg_tax_num }}
                  </div>
                  <div class="form-group col-md-3">
                    <label>{{ bgForm.commercail_record.label }}</label>
                    {{ bgForm.commercail_record }}
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-3">
                    <label>{{ bgForm.address1.label }}</label>
                    {{ bgForm.address1 }}
                  </div>
                  <div class="form-group col-md-3">
                    <label>{{ bgForm.phone.label }}</label>
                    {{ bgForm.phone }}
                  </div>
                  <div class="form-group col-md-3">
                    <label>{{ bgForm.mobile.label }}</label>
                    {{ bgForm.mobile }}
                  </div>
                  <div class="form-group col-md-3">
                    <label>{{ bgForm.fax.label }}</label>
                    {{ bgForm.fax }}
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-3">
                    <label>{{ bgForm.email.label }}</label>
                    {{ bgForm.email }}
                  </div>
                  <div class="form-group col-md-3">
                    <label>{{ bgForm.country.label }}</label>
                    {{ bgForm.country }}
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-3">
                    <label class="fw-500">{{ bgForm.start_date.label }}</label>
                    <div class="timepicker-input input-icon form-group">
                      <div class="input-group">
                        <div class="input-group-addon bgc-white bd bdwR-0"><i class="ti-calendar"></i></div>
                        {{ bgForm.start_date }}
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-3">
                    <label class="fw-500">{{ bgForm.end_date.label }}</label>
                    <div class="timepicker-input input-icon form-group">
                      <div class="input-group">
                        <div class="input-group-addon bgc-white bd bdwR-0"><i class="ti-calendar"></i></div>
                        {{ bgForm.end_date }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- jQuery -->
  <script src="{% static 'jquery/jquery.min.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/vendor.js'%}"></script>
  {% if LANGUAGE_BIDI %}
  <script type="text/javascript" src="{% static 'js/bundleAr.js'%}"></script>
  {% else %}
  <script type="text/javascript" src="{% static 'js/bundle.js'%}"></script>
  {% endif %}
  <script src="{% static 'js/rocket-loader.min.js' %}" data-cf-settings="b7f1894beadbd64bfa501e09-|49" defer=""></script>
  <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.js"></script>
  {% block js %} {% endblock js %}
</body>

</html>
