{% extends 'master.html'%}
{% load staticfiles%}
{% load l10n %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block body%}

  <div class="container-fluid">
    <form method="POST">
      {% csrf_token %}
    <div class="row">
      <div class="col-md-8">
        <h4 class="c-grey-900">{{page_title|title}}</h4>
      </div>
      <div class="col-md-4">
        <div class="gap-10 peers {% if LANGUAGE_BIDI %} push-left {% else %} push-right {% endif %}">
          <div class="peer"><button type="submit" class="btn cur-p btn-primary">{% trans "Save" %}</button></div>
          <div class="peer"><a href="{% url 'employee:list-employee' %}" class="btn cur-p btn-secondary">{% trans "Back to List" %}</a></div>
        </div>
      </div>
    </div>
    <div class="mt-1">
      <div class="bgc-white p-20 bd">
        <h6 class="c-grey-900">{% trans "Here you can create Employee data" %}</h6>
        <div class="mT-30">
          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="inputCity">{% trans "Employee User" %}</label>
              {{ emp_form.user}}
            </div>
            <div class="form-group col-md-3">
              <label for="inputCity">{% trans "Employee Name" %}</label>
              {{ emp_form.emp_name}}
            </div>
            <div class="form-group col-md-3">
              <label for="inputPassword4">{% trans "Employee Number" %}</label>
              {{ emp_form.emp_number}}
            </div>
            <div class="form-group col-md-3">
              <label class="fw-500">{% trans "Birthdate" %}</label>
              <div class="timepicker-input input-icon form-group">
                <div class="input-group">
                  <div class="input-group-addon bgc-white bd bdwR-0">
                    <i class="ti-calendar"></i></div>
                  {{ emp_form.date_of_birth}}
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label class="fw-500">{% trans "Hire Date" %}</label>
              <div class="timepicker-input input-icon form-group">
                <div class="input-group">
                  <div class="input-group-addon bgc-white bd bdwR-0">
                    <i class="ti-calendar"></i></div>
                  {{ emp_form.hiredate}}
                </div>
              </div>
            </div>
            <div class="form-group col-md-4">
              <label for="inputEmail4">{% trans "Email" %}</label>
              {{ emp_form.email}}
            </div>
            <div class="form-group col-md-4">
              <label for="inputCity">{% trans "Gender" %}</label>
              {{ emp_form.gender}}
            </div>
          </div>
          <section class="panel panel-default">
            <header class="panel-heading bg-light">
              <ul class="nav nav-tabs nav-justified">
                <li class="active"><a href="#nav-home" data-toggle="tab" id="nav-home-tab" role="tab" aria-controls="nav-home" aria-selected="true">{% trans "Personal" %}</a></li>
                <li><a href="#nav-profile" id="nav-profile-tab" data-toggle="tab" role="tab" aria-controls="nav-profile" aria-selected="false">{% trans "Official" %}</a></li>
                <li><a href="#nav-contact" id="nav-contact-tab" data-toggle="tab" role="tab" aria-controls="nav-contact" aria-selected="false">{% trans "Payments" %}</a></li>
                <li><a href="#nav-elements" id="nav-elements-tab" data-toggle="tab" role="tab" aria-controls="nav-elements" aria-selected="false">{% trans "Pays" %}</a></li>
              </ul>
            </header>
            <div class="panel-body">
              <div class="tab-content">
                <div class="tab-pane active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                  {% include 'employee-personal-tab.html' %}
                </div>
                <div class="tab-pane" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                  {% include 'employee-official-tab.html' %}
                </div>
                <div class="tab-pane" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                  {% include 'employee-payments-tab.html' %}
                </div>
                <div class="tab-pane" id="nav-elements" role="tabpanel" aria-labelledby="nav-elements-tab">
                  {% include 'employee-salary-tab.html' %}
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </form>
  </div>
  <div class="modal fade" id="element-modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <p>{% trans "Which Other Element You Want To Assign?" %}</p>
          <form method="post">
            {% csrf_token %}
            {{employee_element_form.as_p}}
            <button type="submit" class="btn btn-success" data-dismiss="modal">{% trans "Save" %}</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "No" %}</button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock body%}

{% block js %}
<script>
    $(document).ready(function () {
      function insured_cb() {
        if (this.checked) {
          $('#id_insurance_number').prop('disabled', false);
          $('#id_insurance_date').prop('disabled', false);
        } else {
          $('#id_insurance_number').prop('disabled', true);
          $('#id_insurance_date').prop('disabled', true);
        }
      }
      $(function() {
        insured_cb();
        $("#id_insured").on('click',insured_cb);
      });

      function has_medical_cb() {
        if (this.checked) {
          $('#id_medical_number').prop('disabled', false);
          $('#id_medical_date').prop('disabled', false);
        } else {
          $('#id_medical_number').prop('disabled', true);
          $('#id_medical_date').prop('disabled', true);
        }
      }
      $(function() {
        has_medical_cb();
        $("#id_has_medical").on('click',has_medical_cb);
      });

    });
</script>
  <script>
    var vala =1;

      $( ".one" ).each(function () {
        console.log(vala)
        vala;
        console.log(vala)
      $( this ).change(function (){
        vala;
        console.log(vala)
        console.log($(this).val());
        vala =$(this).val();
        console.log(vala)
        return vala
        });
        return vala
});


      function myFunction(id) {
      console.log(vala)
      var value = vala
      console.log(vala)
      var element = id
      console.log(value)
      console.log(element)
      $.ajax({
          url: '/emp/employee/ajax/',
          data : {
              'element' :element,
              'value' :value,
          },
          dataType : 'json',
          success: function(data){
              if (data.element_after_update_element_value != data.element_value){
                  alert(data.error_message);
              }
          }

      });
      v= document.getElementById("ele"+id)
     console.log(v)

     document.getElementById("ele"+id).innerHTML = value;
      };
   </script>

    <script>
      var vala =1;

        $( ".two" ).each(function () {
          console.log(vala)
          vala;
          console.log(vala)
        $( this ).change(function (){
          vala;
          console.log(vala)
          console.log($(this).val());
          vala =$(this).val();
          console.log(vala)
          return vala
          });
          return vala
  });


        function myFunction_2(id) {
        console.log(vala)
        var value = vala
        console.log(vala)
        var element = id
        console.log(value)
        console.log(element)
        $.ajax({
            url: '/emp/employee/ajax/',
            data : {
                'element' :element,
                'value' :value,
            },
            dataType : 'json',
            success: function(data){
                if (data.element_after_update_element_value != data.element_value){
                    alert(data.error_message);
                }
            }

        });
        document.getElementById("el"+id).innerHTML = value;
        };
     </script>
{% endblock js %}
