{% load i18n %}
{% load l10n %}
{% load group_extra %}
{% load staticfiles %}

<div id="form_set">
    <div class="form-row p-20">
      
        <div id="form_set">
          <div class="form-row p-20">
            <div class="form-group col-md-3">
              <label>{% trans "Name" %}</label>
            </div>
            <div class="form-group col-md-3">
              <label>{% trans "Relation " %}</label>
            </div>
            <div class="form-group col-md-3">
              <label>{% trans "ID Number" %}</label>
            </div>
            <div class="form-group col-md-3">
                <label>{% trans "Mobile" %}</label>
              </div>
          </div> 
          {{depandance_formset.management_form}}
          {% for form in depandance_formset %}
            {{form.non_field_errors}}
            {{form.errors}}
        <div class="form-row">

          <div class="form-group col-md-3">
            {{ form.name}}
          </div>
          <div class="form-group col-md-3">
            {{ form.relation}}
          </div>
          <div class="form-group col-md-3">
            {{ form.id_number}}
          </div>
          <div class="form-group col-md-3">
            {{ form.mobile}}
          </div>
          </div>
          {% endfor %}
          </div>
          <button type="button" id="add_more" class="btn cur-p btn-success">{% trans "Add New Line"%}</button>
        <div id="empty_form" style="display:none">
          <table class='no_error'>
            <div class="form-row">
              <div class="form-group col-md-3">
                {{ depandance_formset.empty_form.name }}
              </div>
              <div class="form-group col-md-3">
                {{ depandance_formset.empty_form.relation }}
              </div>
              <div class="form-group col-md-3">
                {{ depandance_formset.empty_form.id_number }}
              </div>
              <div class="form-group col-md-3">
                {{ depandance_formset.empty_form.mobi;e }}
              </div>
            </div>
          </table>
        </div>

</form>
</div>


{% endblock body%}
{% block js %}
<script>
$('#add_more').click(function() {
  var form_idx = $('#id_form-TOTAL_FORMS').val();
  $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
  $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
});
</script>
{% endblock js %}
