{% load i18n %}
{% load l10n %}
{% load group_extra %}
{% load staticfiles %}

<div id="dep_form_set">
    <div class="form-row p-20">
        {{depandance_formset.management_form}}
        {% for form in depandance_formset %}
        <div class="form-row col-md-12">
            <div class="col-sm-3">
                <label class="fw-500">{% trans "Name" %}</label>
                {{ form.name }}
            </div>
            <div class="col-sm-3">
                <label class="fw-500">Relation</label>
                {{ form.relation }}
            </div>
            <div class="col-sm-3">
                <label class="fw-500">ID Number</label>
                {{ form.id_number }}
            </div>
            <div class="col-sm-3">
                <label class="fw-500">Mobile</label>
                {{ form.mobile }}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
        <div class="separator mb-5"></div>
        <button type="button" id="add_dep" class="btn cur-p btn-success">{% trans "Add Depandance"%}</button>
        <div id="dep_form" style="display:none">
            <table class='no_error'>
                <div class="form-row col-md-12 p-20">
                <div class="col-sm-3">
                    <label class="fw-500">{% trans "Name" %}</label>
                    {{ depandance_formset.empty_form.name }}
                </div>
                <div class="col-sm-3">
                    <label class="fw-500">Relation</label>
                    {{ depandance_formset.empty_form.relation }}
                </div>
                <div class="col-sm-3">
                    <label class="fw-500">ID Number</label>
                    {{ depandance_formset.empty_form.id_number }}
                </div>
                <div class="col-sm-3">
                    <label class="fw-500">Mobile</label>
                    {{ depandance_formset.empty_form.mobile }}
                </div>
            </div>
            </table>
        </div>
    <br>

