{% extends "master.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load l10n %}
{% load i18n %}

{% block body %}

<div class="container-fluid">
  <div class="row" style="margin-left:0px;">
    <div class="col-md-8">
      <h4 class="c-grey-900">Attendance</h4>
    </div>
    <div class="col-md-4">
      <div class="gap-10 peers {% if LANGUAGE_BIDI %} push-left {% else %} push-right {% endif %}">
        <div class="peer">
          <a href="{% url 'attendance:list-attendance' %}" class="btn cur-p btn-secondary">Cancel</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-left:0px;">
    <div class="col-md-12">
      <div class="bgc-white bd bdrs-3 p-20 mB-20">
        <h3>Please check in</h3>
        <form method="POST">
          <div class="form-group">
            {% csrf_token %}
          <input type="submit" class="btn btn-primary" href="{% url 'attendance:create_task'  %}" value="Check in">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
