{% extends "master.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load l10n %}
{% load i18n %}

{% block body %}
<header style="margin-top:150px">
  <nav class="navbar">
    <h1>Welcome {{request.user|title}}. </h1>
  </nav>
</header>
<section class="clock">
  <div class="container">
    <div class="row">
      <div class="col-md-8 input-wrapper">
        <div class="input">
          <input type="number" id="num" class="form-control" min="0">
          <select id="measure" class="form-control">
            <option value="0">Select Unit</option>
            <option value="s">Seconds</option>
            <option value="m">Minutes</option>
            <option value="h">Hours</option>
          </select>
        </div>
        <div class="buttons-wrapper">
          <button class="btn" id="start-cronometer">Start Stopwatch</button>
          <!-- <button class="btn" id="start-countdown">Start Countdown</button> -->
        </div>
      </div>
      <div id="timer" class="col-12">
        <div class="clock-wrapper">
          <span class="hours">00</span>
          <span class="dots">:</span>
          <span class="minutes">00</span>
          <span class="dots">:</span>
          <span class="seconds">00</span>
        </div>
      </div>
      <div class="buttons-wrapper">
        <button class="btn" id="resume-timer">Resume Timer</button>
        <button class="btn" id="stop-timer">Stop Timer</button>
        <button class="btn" id="reset-timer">Reset Timer</button>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script');
    ga.type = 'text/javascript';
    ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endblock body %}
