{% extends "master.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load l10n %}
{% load i18n %}

{% block body %}
<!--  -->
<div class="container-fluid">
  <form method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-8">
        <h4 class="c-grey-900">Fill in your tasks</h4>
      </div>
      <div class="col-md-4">
        <div class="gap-10 peers push-right">
          <div class="peer">
            <button type="submit" class="btn cur-p btn-primary">{% trans "Save" %}</button>
          </div>
          <div class="peer">
            <a href="{% url 'attendance:user-list-attendance' %}" class="btn cur-p btn-secondary">Back to attendance list</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-left:0px;">
      <div class="col-md-12">
        <div class="bgc-white bd bdrs-3 p-20 mB-20">
          {{ tasks.management_form }}
          <div id="tasks_set">
            <div class="form-row">
              <div class="form-group col-md-4 text-center">
                <label>{% trans "Task Name" %}</label>
              </div>
              <div class="form-group col-md-3 text-center">
                <label>{% trans "Task Start Time" %}</label>
              </div>
              <div class="form-group col-md-3 text-center">
                <label>{% trans "Task End Time" %}</label>
              </div>
              <div class="form-group col-md-2 text-center">
                <label>{% trans "Delete" %}</label>
              </div>
            </div>
            {% for form in tasks.forms %}
            {{form.non_field_errors}}
            {{form.errors}}
            {% for hidden in form.hidden_fields %}
            {{ hidden }}
            {% endfor %}
            <div class="form-row">
              <div class="form-group col-md-4">
                {{ form.task }}
              </div>
              <div class="form-group col-md-3">
                <div class="timepicker-input input-icon form-group">
                  <div class="input-group">
                    {{ form.start_time }}
                  </div>
                </div>
              </div>
              <div class="form-group col-md-3">
                <div class="timepicker-input input-icon form-group">
                  <div class="input-group">
                    {{ form.end_time }}
                  </div>
                </div>
              </div>
              <div class="form-group col-md-2 text-center">
                {{ form.DELETE }}
              </div>
            </div>
            {% endfor %}
          </div>
          <button type="button" id="add_more" class="btn cur-p btn-success">{% trans "Add New Line"%}</button>
          <div id="empty_form" style="display:none">
            <table class='no_error'>
              <div class="form-row">
                <div class="form-group col-md-4">
                  {{ tasks.empty_form.task }}
                </div>
                <div class="form-group col-md-3">
                  {{ tasks.empty_form.start_time }}
                </div>
                <div class="form-group col-md-3">
                  {{ tasks.empty_form.end_time }}
                </div>
                <div class="form-group col-md-2 text-center">
                  {{ tasks.empty_form.DELETE }}
                </div>
              </div>
            </table>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>


{% endblock body %}
