{% extends "master.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load l10n %}
{% load i18n %}

{% block body %}
<!--  -->
<div class="container-fluid">
  <div class="row" style="margin-left:0px;">
    <div class="col-md-8">
      <h4 class="c-grey-900">{{page_title|title}}</h4>
    </div>
  </div>
  <div class="col-md-12">
    <div class="row" style="margin-left:0px;">
      <div class="col-md-12">
        <div class="bgc-white bd bdrs-3 p-20 mB-20">
          <table class="table table-striped table-bordered" id="dataTable">
            <thead>
              <tr>
                <th>#</th>
                <th>Employee</th>
                <th>Date</th>
                <th>Check in</th>
                <th>Check out</th>
                <th>work time</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for i in attendances %}
              <tr>
                <td>{{forloop.counter }}</td>
                <td>{{i.employee}}</td>
                <td>{{i.date}}</td>
                <td>{{i.check_in}}</td>
                <td>{{i.check_out}}</td>
                <td>{{i.work_hours}}</td>
                <td class="Actions">
                  <div class="w-100 gap-10 peers">
                    <div class="peer">
                      <a href="{% url 'attendance:update-attendance' att_update_slug=i.slug%}">
                        <button type="button" class="btn cur-p btn-outline-primary">{% trans "Update" %}</button>
                      </a>
                    </div>
                    <div class="peer">
                      <a href="#">
                        <button type="button" class="btn cur-p btn-outline-danger" data-toggle="modal" data-target="#delete-modal{{i.slug}}">{% trans "Delete" %}</button>
                      </a>
                    </div>
                  </div>
                </td>
              </tr>
              <!-- Delete Modal -->
              <div class="modal fade" id="delete-modal{{i.slug}}" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-body">
                      <p>{% trans "Are you sure you want to delete this record ?" %}</p>
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "No" %}</button>
                      <a href="{% url 'attendance:delete-attendance' att_delete_slug=i.slug %}" class="btn btn-danger" type="button">{% trans "Delete" %}</a>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock body %}
