{% extends "master.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load l10n %}
{% load i18n %}

{% block body %}
<div class="row" style="margin-left:0px;">
  <div class="col-md-8">
    <h4 class="c-grey-900">{{page_title|title}}</h4>
  </div>
  <div class="col-md-4">
    <div class="gap-10 peers {% if LANGUAGE_BIDI %} push-left {% else %} push-right {% endif %}">
      <div class="peer" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Business Travel Form' %}">
        <a href="{% url 'service:services_create' %}" class="btn btn-primary" type="button">
          <i class="fas fa-atlas fa-2x"></i>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="row" style="margin-left:0px;">
  <div class="col-md-12">
    <div class="bgc-white bd bdrs-3 p-20 mB-20">
      <table class="table table-striped table-bordered" id="dataTable" width="100%">
        <thead>
          <tr>
            <th>#</th>
            <th>{% trans "User" %}</th>
            <th>{% trans "Department" %}</th>
            <th>{% trans "Destination" %}</th>
            <th>{% trans "Project Name/Client Name" %}</th>
            <th>{% trans "From Date" %}</th>
            <th>{% trans "To Date" %}</th>
            <th>{% trans "Status" %}</th>
            <th>{% trans "Actions" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for i in services %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url 'service:services-update' id=i.id %}">{{i.emp}}</a></td>
            <td>{{i.department}}</td>
            <td>{{i.destination}}</td>
            <td>{{i.project_name}}</td>
            <td>{{i.estimated_date_of_travel_from}}</td>
            <td>{{i.estimated_date_of_travel_to}}</td>
            <td>{{i.status}}</td>
            <td class="Actions">
              {% if request.user|has_group:"Admin"%}
              <div class="w-100 gap-10 peers">
                <div class="peer" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Respond' %}">
                  <a href="{% url 'service:services_edit' i.id %}">
                    <button type="button" class="btn cur-p btn-outline-primary"><i class="fas fa-reply-all"></i></button>
                  </a>
                </div>
              </div>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</div>

{% endblock body %}
