{% extends 'master.html' %}
{% load staticfiles%}
{% load i18n %}
{% load l10n %}

{% block body %}
<div class="container-fluid">
  <form method="post" id="my_form">
    {% csrf_token %}
    <!--  -->
    <div class="row">
      <div class="col-md-8">
        <h4 class="c-grey-900">{{page_title|title}}</h4>
      </div>
      <div class="col-md-4">
        <div class="gap-10 peers push-right">
          <div class="peer">
            <a href="javascript:{}" onclick="document.getElementById('my_form').submit(); return false;" class="btn btn-s-md btn-primary ">{% trans "Save" %}</a>
          </div>
          <div class="peer">
            <a href="{% url 'employee:list-employee' %}" class="btn btn-s-md btn-default">{% trans "Back to List" %}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-1">
      <div class="bgc-white p-20 bd">
        <div class="mT-30">
          <section class="panel panel-default">
            <div class="panel-body">
              <div class="form-group pull-in clearfix">
                <div class="pull-right">

                </div>
                <div class={% if LANGUAGE_CODE == 'ar' %} "col-sm-6 pull-right" {% else %} "col-sm-6 pull-left" {% endif %}>
                  {% for field in add_user %}
                  <p>
                    {{ field.label_tag }}<br>
                    {{ field }}
                    {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                    {% endfor %}
                  </p>
                  {% endfor %}
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock body %}
