{% load staticfiles %}

<footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600">
  <span>Copyright © 2019 <a href="https://peoplem8.com/" target="_blank" title="PeopleM8">PeopleM8</a>. All rights reserved.</span>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="057b631b541ac41fa04fb5af-text/javascript"></script>
  <script type="text/javascript">
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-23581568-13');
  </script>
</footer>
