<!DOCTYPE html>
{% load staticfiles %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% load notifications_tags %}




<html {% if LANGUAGE_BIDI %} dir="rtl" {% else %} dir="ltr" {% endif %}>
<meta content="text/html;charset=UTF-8" />

<head>
  <title>PeopleM8</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/themes/dark.css">
  <link href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
  <link rel="icon" type="image/png" href="{% static 'img/PeopleIcon.ico'%}">
  <!-- For apple devices -->
  <link rel="apple-touch-icon" type="image/png" href="{% static 'img/PeopleIcon.ico'%}" />

  {% if LANGUAGE_BIDI %}
  <link href="{% static 'css/style-main-ar.css'%}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">
  {% else %}
  <link href="{% static 'css/style-main-en.css'%}" rel="stylesheet">
  {% endif %}
  <link href="{% static 'css/style.css'%}" rel="stylesheet">
  <link href="{% static 'css/import.css'%}" rel="stylesheet">
  <!-- datatable -->
  {% block style %}
  {% endblock style %}

</head>

<body class="app">
  <div id="loader">
    <div class="spinner"></div>
  </div>
  <script type="text/javascript">
    window.addEventListener('load', () => {
      const loader = document.getElementById('loader');
      setTimeout(() => {
        loader.classList.add('fadeOut');
      }, 300);
    });
  </script>
  <div>


    <div class="sidebar">
      {% if request.user.employee_type == 'A'%}
      {% include 'side_bar.html' %}
      {% else %}
      {% include 'side_bar.html' %}
      {% endif %}
    </div>
    <div class="page-container">

      {% include 'messages.html' %}

      <div class="header navbar">
        {% include 'top_nav.html' %}

      </div>
      <main class="main-content bgc-grey-100">
        <div id="mainContent">
          {% block body %}
          {% endblock body %}
        </div>
      </main>
      {% include 'footer.html' %}
    </div>
  </div>

  <script type="text/javascript">
    function list_notification_list(data) {
      var menus = document.getElementsByClassName(notify_menu_class);
      var mymenu = document.getElementsByClassName('mymenu');
      if (menus) {
        if (data.unread_list.length == 0) {
          var messages = "No Notifications to Show"
        } else {
          var messages = data.unread_list.map(function(item) {
            var message = "";
            message = item.description
            return '<li><a href="#" class="peers fxw-nw td-n p-20 bdB c-grey-800 cH-blue bgcH-grey-100">' + message + '</a></li>';
          }).join('')
        }
        for (var i = 0; i < menus.length; i++) {
          menus[i].innerHTML = messages;
        }
      }
    }
  </script>

  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{% static 'jquery/jquery.min.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/vendor.js'%}"></script>

  <!-- bootstrap -->
  <script src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>

  <script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
  {% register_notify_callbacks callbacks='list_notification_list,fill_notification_badge' refresh_period=30 %}

  {% if LANGUAGE_BIDI %}
  <script type="text/javascript" src="{% static 'js/bundleAr.js'%}"></script>
  {% else %}
  <script type="text/javascript" src="{% static 'js/bundle.js'%}"></script>
  {% endif %}


  <script src="{% static 'js/rocket-loader.min.js' %}" data-cf-settings="b7f1894beadbd64bfa501e09-|49" defer=""></script>
  <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <!--  Flatpickr  -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.js"></script>

  {% block js %} {% endblock js %}

</body>

</html>
