{% load i18n %}
{% load l10n %}
{% load group_extra %}
{% load staticfiles %}
<div class="sidebar-inner">
  <div class="sidebar-logo">
    <div class="peers ai-c fxw-nw">
      <div class="peer peer-greed">
        <a class="sidebar-link td-n" href="{% url 'home:homepage' %}">
          <div class="peers ai-c fxw-nw">
            <div class="peer">
              <div class="logo"><img src="{% static 'assets/static/images/logo.png' %}" alt=""></div>
            </div>
            <div class="peer peer-greed">
              <h5 class="lh-1 mB-0 logo-text">PeopleM8</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="peer">
        <div class="mobile-toggle sidebar-toggle"><a href="#" class="td-n"><i class="ti-arrow-circle-left"></i></a>
        </div>
      </div>
    </div>
  </div>
  <ul class="sidebar-menu scrollable pos-r">
    <li class="nav-item mT-30 active"><a class="sidebar-link" href="{% url 'home:homepage' %}" default>
        <span class="icon-holder"><i class="c-blue-500 ti-home"></i> </span>
        <span class="title">{% trans 'Dashboard'%}</span></a>
    </li>
    {% if request.user|has_group:"Admin"%}
    <li class="nav-item dropdown">
      <a class="dropdown-toggle" href="javascript:void(0);"><span class="icon-holder"><i class="c-orange-500 ti-layout-list-thumb"></i> </span><span class="title">{% trans 'Company Setup'%}</span>
        <span class="arrow"><i class="ti-angle-right"></i></span></a>
      <ul class="dropdown-menu">
        <li><a class="sidebar-link" href="{% url 'company:list-company-information' %}">{% trans 'Enterprise Information'%}</a></li>
        <!-- <li><a class="sidebar-link" href="{% url 'balanc_definition:list-cost-center' %}">{% trans 'Cost Center'%}</a> -->
    </li>

    <li class="nav-item dropdown">
      <a href="javascript:void(0);">
        <span>{% trans 'Enterprise structure'%}</span>
        <span class="arrow"><i class="ti-angle-right"></i></span>
      </a>
      <ul class="dropdown-menu" style="display: none;">
        {% if request.user.is_superuser %}
        <li><a href="{% url 'home:group_list' %}">{% trans "Groups" %}</a></li>
        <li><a href="{% url 'home:user_groups' %}">{% trans "Users Groups" %}</a></li>
        {% endif %}
        <li><a href="{% url 'company:list-department' %}">{% trans "Departments" %}</a></li>
        <li><a href="{% url 'company:list-jobs' %}">{% trans "Jobs" %}</a></li>
        <li><a href="{% url 'company:list-grades' %}">{% trans "Grades" %}</a></li>
        <li><a href="{% url 'company:list-positions' %}">{% trans "Positions" %}</a></li>
      </ul>
    </li>
  </ul>

  {% if request.user.is_superuser %}
  <ul class="dropdown-menu">
    <li class="nav-item dropdown">
      <a href="javascript:void(0);">
        <span>{% trans 'Lookups Management'%}</span>
        <span class="arrow"><i class="ti-angle-right"></i></span>
      </a>
      <ul class="dropdown-menu" style="display: none;">
        <li><a class="sidebar-link" href="{% url 'company:setup_company' %}">{% trans 'Upload Modules'%}</a></li>
        <li><a class="sidebar-link" href="{% url 'defenition:list-lookups' %}">{% trans 'Lookup Details'%}</a></li>
      </ul>
    </li>
  </ul>
  {% endif %}


  <li class="nav-item dropdown">
    <a class="dropdown-toggle" href="javascript:void(0);"><span class="icon-holder"><i class="c-red-500 ti-files"></i>
      </span><span class="title">{% trans "Manage Payroll" %}</span> <span class="arrow"><i class="ti-angle-right"></i></span></a>
    <ul class="dropdown-menu">
      <li class="nav-item dropdown">
        <a class="dropdown-toggle" href="javascript:void(0);">
          <span class="title">{% trans 'Salary Management'%}</span> <span class="arrow"><i class="ti-angle-right"></i></span>
        </a>
        <ul class="dropdown-menu">
          <li><a class="sidebar-link" href="{% url 'element_definition:list-element' %}">{% trans 'Salary Details'%}</a>
          </li>
          <li><a class="sidebar-link" href="{% url 'element_definition:list-batchs' %}">{% trans 'Salary Structure'%}</a>
          </li>
        </ul>
      </li>

      <li><a class="sidebar-link" href="{% url 'manage_payroll:list-banks' %}">{% trans 'Banks and branches'%}</a></li>
      <li><a class="sidebar-link" href="{% url 'manage_payroll:list-payments' %}">{% trans 'Payments Setup'%}</a></li>
      <li><a class="sidebar-link" href="{% url 'manage_payroll:list-payroll' %}">{% trans 'Payroll Definitions'%}</a></li>
      <li><a class="sidebar-link" href="{% url 'defenition:tax-list' %}">{% trans 'Tax Rules'%}</a></li>
      <li><a class="sidebar-link" href="{% url 'payroll_run:list-salary' %}">{% trans 'Payroll Run' %}</a></li>
      <li><a class="sidebar-link" href="{% url 'manage_payroll:list-assignBatch' %}">{% trans 'Assignment Batch'%}</a></li>
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a class="dropdown-toggle" href="javascript:void(0);"><span class="icon-holder"><i class="c-pink-500  ti-user"></i> </span><span class="title">{% trans "Employee Management" %}</span> <span class="arrow"><i class="ti-angle-right"></i></span></a>
    <ul class="dropdown-menu">
      <li><a class="sidebar-link" href="{% url 'employee:list-employee' %}">{% trans 'Personal & Job Information'%}</a></li>

    </ul>
  </li>
  {% endif %}

  {% if request.user|has_group:"Admin" or request.user|has_group:"Employee" %}
  <li class="nav-item dropdown">
    <a class="dropdown-toggle" href="javascript:void(0);"><span class="icon-holder"><i class="c-pink-500 ti-agenda"></i> </span><span class="title">{% trans "Employee Services" %}</span> <span class="arrow"><i class="ti-angle-right"></i></span></a>
    <ul class="dropdown-menu">
      <li><a class="sidebar-link" href="{% url 'leave:list_leave' %}">{% trans 'Employee Leaves'%}</a></li>
      <li><a class="sidebar-link" href="{% url 'service:services_list' %}">{% trans 'Bussiness Travel Form'%}</a></li>
      <li><a class="sidebar-link" href="{% url 'service:purchase-request-list' %}">{% trans 'Purchase Request Form'%}</a></li>
    </ul>
  </li>
  {% endif %}

  {% if request.user|has_group:"Admin" %}
  <li class="nav-item dropdown">
    <a class="dropdown-toggle" href="javascript:void(0);"><span class="icon-holder"><i class="c-blue-500 ti-alarm-clock"></i> </span><span class="title">{% trans "Work Days Management" %}</span>
      <span class="arrow"><i class="ti-angle-right"></i></span></a>
    <ul class="dropdown-menu">
      <li><a href="javascript:void(0);">
          <span>{% trans 'Employee Leave setup'%}</span>
          <span class="arrow"><i class="ti-angle-right"></i></span>
        </a>
        <ul class="dropdown-menu" style="display: none;">
          <li><a href="{% url 'leave:leave-balance' %}">{% trans "Employees Leave Balance" %}</a></li>
          <li><a href="{% url 'leave:list-leave-master' %}">{% trans "Leaves Type Setup" %}</a></li>
        </ul>
      </li>
    </ul>
    <ul class="dropdown-menu">

      <li><a href="javascript:void(0);">
          <span>{% trans 'Working Policies'%}</span>
          <span class="arrow"><i class="ti-angle-right"></i></span>
        </a>
        <ul class="dropdown-menu" style="display: none;">
          <li><a href="{% url 'company:working-hrs-policy-list' %}">{% trans "Working Hours Policy" %}</a></li>
          <li><a href="{% url 'company:working-hrs-deductions-list' %}">{% trans "Deductions Policy" %}</a></li>
          <li><a href="{% url 'company:list-years' %}">{% trans "Yearly Holidays" %}</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a class="dropdown-toggle" href="javascript:void(0);"><span class="icon-holder"><i class="c-blue-500 ti-alarm-clock"></i>
      </span><span class="title">{% trans "Attendance Management" %}</span> <span class="arrow"><i class="ti-angle-right"></i></span>
    </a>
    <ul class="dropdown-menu">
      <!-- <li><a class="sidebar-link" href="{% url 'attendance:list-machine-log' %}">{% trans 'Connect To Machine'%}</a></li> -->
      <!-- <li><a class="sidebar-link" href="{% url 'attendance:list-attendance-deductions' %}">{% trans 'List Absence'%}</a></li> -->
      <li><a class="sidebar-link" href="{% url 'attendance:upload-attendance' %}">{% trans 'Upload Excel File' %}</a></li>
      <li><a class="sidebar-link" href="{% url 'attendance:attendance-export' %}">{% trans 'Export  File' %}</a></li>
      <li><a class="sidebar-link" href="{% url 'attendance:user-list-attendance' %}">{% trans 'Manual Attendance' %}</a></li>
    </ul>
  </li>
  {% endif %}
  {% if request.user|has_group:"Admin" or request.user|has_group:"Employee" %}
  <li class="nav-item dropdown">
    <a class="dropdown-toggle" href="javascript:void(0);"><span class="icon-holder"><i class="c-blue-500 ti-alarm-clock"></i> </span><span class="title">{% trans "Task Management" %}</span> <span class="arrow"><i
          class="ti-angle-right"></i></span></a>
    <ul class="dropdown-menu">
      <li><a class="sidebar-link" href="{% url 'task_management:task-list' %}">{% trans 'User Tasks' %}</a></li>
    </ul>
  </li>
  {% endif %}
</div>
