{% extends "master.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load l10n %}
{% load i18n %}

{% block body %}
{% include 'messages.html' %}
<div class="container-fluid">
  <div class="mt-1">
    <div class="bgc-white p-20 bd">
      <div class="row">
        <div class="col-md-8">
          <h1 class="c-grey-900" style="text-align:center;">
            <strong>{{page_title|title}}</strong>
          </h1>
        </div>
      </div>
      <h5 class="c-grey-900">{% trans "Fill out the form" %}</h5>
      <div class="mT-30">
        <form method="POST">
          {% csrf_token %}
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{leave_form.leavetype.label}}</label>
            <div class="col-sm-4">
              {{leave_form.leavetype}}
            </div>
          </div>
          <div class="form-group row"">
              <label class=" col-sm-2 col-form-label">{{leave_form.startdate.label}}</label>
            <div class="col-sm-4">
              {{leave_form.startdate}}
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{leave_form.enddate.label}}</label>
            <div class="col-sm-4">
              {{leave_form.enddate}}
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{leave_form.resume_date.label}}</label>
            <div class="col-sm-4">
              {{leave_form.resume_date}}
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{leave_form.reason.label}}</label>
            <div class="col-sm-8">
              {{leave_form.reason}}
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{leave_form.attachment.label}}</label>
            <div class="col-sm-8">
              {{leave_form.attachment}}
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
              <button type="button" class="btn btn-default">
                <a href="{% url 'leave:list_leave' %}">{% trans "Cancel" %}</a>
              </button>
            </div>

          </div>
        </form>

      </div>
    </div>
  </div>
</div>
{% endblock body %}
{% block js %}
<script>
  $(document).ready(function() {
    function parseDate(str) {
      var mdy = str.split('/');
      return new Date(mdy[2], mdy[0] - 1, mdy[1]);
    }

    function datediff(first, second) {
      return Math.round((second - first) / (1000 * 60 * 60 * 24));
    }
    $('#days_count').text(datediff(parseDate(id_startdate.value), parseDate(id_enddate.value)) + 1);
  });
</script>
{% endblock js %}
