{% extends "master.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load l10n %}
{% load i18n %}

{% block body %}


<div class="container-fluid">
  <form method="post">
    {% csrf_token %}
    <!--  -->
    <div class="row">
      <div class="col-md-8">
        <h4 class="c-grey-900">{% trans "Leave Form" %}</h4>
      </div>
    </div>
    <div class="mt-1">
      <div class="bgc-white p-20 bd">
        <h5 class="c-grey-900">{% trans "Leave requested from user" %} <strong>{{employee}}</strong></h5>
        <div class="mT-30">
          <div class="form-row">
            <div class="form-group col-md-3">
              <label>{% trans "Leave Type" %}</label>
              {{leave_form.leavetype}}
            </div>
            <div class="form-group col-md-3">
              <label class="fw-500">{% trans "Leave Start Date" %}</label>
              <div class="timepicker-input input-icon form-group">
                <div class="input-group">
                  <div class="input-group-addon bgc-white bd bdwR-0"><i class="ti-calendar"></i></div>
                  {{leave_form.startdate}}
                </div>
              </div>
            </div>
            <div class="form-group col-md-3">
              <label class="fw-500">{% trans "Leave End Date" %}</label>
              <div class="timepicker-input input-icon form-group">
                <div class="input-group">
                  <div class="input-group-addon bgc-white bd bdwR-0"><i class="ti-calendar"></i></div>
                  {{leave_form.enddate}}
                </div>
              </div>
            </div>
            <div class="form-group col-md-9">
              <label for="inputCity">{% trans "Leave Reasons" %}</label>
              {{leave_form.reason}}
            </div>
            <div class="form-group col-md-9">
              <label>{{leave_form.attachment.label}}</label>
              {{leave_form.attachment}}
            </div>
            <div class="form-group col-md-12">
              <img src="{{media_url}}{{leave_form.attachment.url}}"  alt="" width="300;" height="400;">
            </div>
          </div>
          <div class="form-row gap-10 peers">
            <div class="peer">

              {% if home %}
              <a href="{% url 'leave:leave-approve' leave_id=leave_id redirect_to='home:homepage' %}">
                <button type="button" class="btn cur-p btn-success">{% trans "Approve" %}</button>
              </a>
              {% else %}
               <a href="{% url 'leave:leave-approve' leave_id=leave_id redirect_to='leave:list_leave' %}">
                <button type="button" class="btn cur-p btn-success">{% trans "Approve" %}</button>
              </a>
              {% endif %}

            </div>
            <div class="peer">
              {% if home %}

              <a href="{% url 'leave:leave-unapprove' leave_id=leave_id redirect_to='home:homepage' %}">
              <button type="button" class="btn cur-p btn-danger">{% trans "Reject" %}</button>
              </a>
              <a href="{% url 'home:homepage' %}" class="btn cur-p btn-secondary">{% trans "Cancel" %}</a>
              {% else %}
               <a href="{% url 'leave:leave-unapprove' leave_id=leave_id redirect_to='leave:list_leave' %}">
              <button type="button" class="btn cur-p btn-danger">{% trans "Reject" %}</button>
              </a>
                <a href="{% url 'leave:list_leave' %}" class="btn cur-p btn-secondary">{% trans "Cancel" %}</a>
              </div>

              {% endif %}


          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<script>
  window.addEventListener("beforeunload", function (e) {
    var confirmationMessage = 'It looks like you have been editing something. '
                            + 'If you leave before saving, your changes will be lost.';

    (e || window.event).returnValue = confirmationMessage; //Gecko + IE
    return confirmationMessage; //Gecko + Webkit, Safari, Chrome etc.
});
</script>
{% endblock body %}
