{% extends 'master.html'%}
{% load staticfiles%}
{% load l10n %}
{% load i18n %}
{% block body%}

{% if messages %}
{% for message in messages %}
<div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
{% endfor %}
{% endif %}

{% if form.errors %}
<div class="alert alert-error">
  <h4>{% trans "Please fix the following errors" %}</h4>
  <ul>
    {% for field in form %}
    {% if field.errors %}
    {% for error in field.errors %}
    <li><a href="#id_{{ field.name }}" class="error">{{ error|escape }}</a></li>
    {% endfor %}
    {% endif %}
    {% endfor %}
  </ul>
  {% if form.non_field_errors %}
  {{ form.non_field_errors }}
  {% endif %}
</div>
{% endif %}

<div class="row" style="margin-left:0px;">
  <div class="col-md-8">
    <h4 class="c-grey-900">{{page_title|title}}</h4>
  </div>
  <div class="col-md-4">
    <div class="gap-10 peers {% if LANGUAGE_BIDI %} push-left {% else %} push-right {% endif %}">
      <div class="peer"><a href="{% url 'payroll_run:genereate-salary' month=salary_obj.salary_month year=salary_obj.salary_year salary_id=salary_obj.id emp_id=salary_obj.emp.id %}" target="_blank"
          class="btn cur-p btn-primary">{% trans "Print" %}</a></div>
      <div class="peer"><a href="{% url 'payroll_run:list-month-salary' month=salary_obj.salary_month year=salary_obj.salary_year %}"  class="btn cur-p btn-secondary">{% trans "Back to List" %}</a></div>
    </div>
  </div>
</div>

<div class="row" style="margin-left:0px;">
  <div class="col-md-12">
    <div class="bgc-white bd bdrs-3 p-20 mB-20">
      <ul class="m-0 p-0">
        <li class="peers">
          <a class="td-n p-20 peers fxw-nw mR-20 peer-greed c-grey-900">
            <div class="peer mR-15">
              <i class="fa fa-fw fa-user-o c-red-500"></i></div>
            <div class="peer">
              <span class="fw-600">{% trans "Employee Name" %}</span>
              <div class="c-grey-600">
                <span class="c-grey-700">{{ salary_obj.emp }} </span></div>
            </div>
          </a>
          <a class="td-n p-20 peers fxw-nw mR-20 peer-greed c-grey-900">
            <div class="peer mR-15">
              <i class="fa fa-fw fa-id-card-o c-purple-500"></i></div>
            <div class="peer">
              <span class="fw-600">{% trans "ID Number" %}</span>
              <div class="c-grey-600">
                <span class="c-grey-700">{{ salary_obj.emp.emp_number }}</span></div>
            </div>
          </a>
          <a class="td-n p-20 peers fxw-nw mR-20 peer-greed c-grey-900">
            <div class="peer mR-15">
              <i class="fa fa-fw fa-calendar-o c-blue-500"></i></div>
            <div class="peer">
              <span class="fw-600">{% trans "Pay Period" %}</span>
              <div class="c-grey-600">
                <span class="c-grey-700">{% if salary_obj.salary_month == 1%}
                  {% trans "January" %}
                  {% elif salary_obj.salary_month == 2%}
                  {% trans "February" %}
                  {% elif salary_obj.salary_month == 3%}
                  {% trans "March" %}
                  {% elif salary_obj.salary_month == 4%}
                  {% trans "April" %}
                  {% elif salary_obj.salary_month == 5%}
                  {% trans "May" %}
                  {% elif salary_obj.salary_month == 6 %}
                  {% trans "June" %}
                  {% elif salary_obj.salary_month == 7 %}
                  {% trans "July" %}
                  {% elif salary_obj.salary_month == 8%}
                  {% trans "August" %}
                  {% elif salary_obj.salary_month == 9%}
                  {% trans "September" %}
                  {% elif salary_obj.salary_month == 10%}
                  {% trans "October" %}
                  {% elif salary_obj.salary_month == 11%}
                  {% trans "November" %}
                  {% elif salary_obj.salary_month == 12%}
                  {% trans "December" %}
                  {% endif %}</span></div>
            </div>
          </a>
          <a class="td-n p-20 peers fxw-nw mR-20 peer-greed c-grey-900">
            <div class="peer mR-15">
              <i class="fa fa-fw fa-calendar-minus-o c-green-500"></i></div>
            <div class="peer">
              <span class="fw-600">{% trans "Payroll Run Date" %}</span>
              <div class="c-grey-600">
                <span class="c-grey-700">{{ salary_obj.run_date }}</span></div>
            </div>
          </a>
        </li>
      </ul>
      <div class="row">
        <div class="col-md-6">
          <div class="bgc-white bd bdrs-3 p-20 mB-20">
            <table class="table">
              <thead class="thead-light ta-c">
                <tr>
                  <th scope="col">{% trans "Type" %}</th>
                  <th scope="col">{% trans "Amount EGP" %}</th>
                </tr>
              </thead>
              <tbody class="ta-l">
                {% for emp in emp_elements_incomes %}
                <tr>
                  <td>{{ emp.element_id }}</td>
                  <td>{{ emp.element_value}}</td>
                </tr>
                {% endfor %}
                {% for emp_d in emp_elements_deductions %}
                <tr>
                  <td>{{ emp_d.element_id }}</td>
                  <td style="color: red;">-{{ emp_d.element_value}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td> {% trans "Social Insurance" %}</td>
                    <td style="color: red;">-{{salary_obj.insurance_amount}}</td>
                  </tr>
                {% if salary_obj.penalties != 0 %}
                <tr>
                  <td> {% trans "Penalties" %}</td>
                  <td style="color: red;">-{{salary_obj.penalties}}</td>
                </tr>
                {% endif %}
                {% if salary_obj.delays != 0 %}
                <tr>
                  <td> {% trans "Delays" %}</td>
                  <td style="color: red;">-{{salary_obj.delays}}</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-12">
          <div class="bgc-white bd bdrs-3 p-20 mB-20">
            <!-- <h4 class="c-grey-900 mB-20">Table head options</h4> -->
            <table class="table table-striped">
              <tbody>
                <tr>
                  <td>{% trans "Gross Salary" %}</td>
                  <td>{{ salary_obj.gross_salary|floatformat }}</td>
                </tr>
                <tr>
                  <td>{% trans "Tax Amount" %}</td>
                  <td>{{salary_obj.tax_amount|floatformat}}</td>
                </tr>
                <tr>
                  <td>{% trans "Net Salary" %}</td>
                  <td>{{ salary_obj.net_salary|floatformat }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  window.addEventListener("beforeunload", function (e) {
    var confirmationMessage = 'It looks like you have been editing something. '
                            + 'If you leave before saving, your changes will be lost.';

    (e || window.event).returnValue = confirmationMessage; //Gecko + IE
    return confirmationMessage; //Gecko + Webkit, Safari, Chrome etc.
});
</script>
{% endblock body%}
